In [1]:
import tinydb

db = tinydb.TinyDB('new.db')

In [4]:
db.search(tinydb.Query().surname == 'C1')

[{'name': 'A1', 'surname': 'C1', 'age': 22}]

In [3]:
db.insert({'name': 'A1', 'surname': 'C1', 'age': 22})

5

In [1]:
import db3, transaction
from datetime import date

In [18]:
list(db3.root.people.items())

[('A',
  Person(name='A', birthday=datetime.date(2000, 1, 1), friends=[Person(name='B', birthday=datetime.date(1970, 2, 1), friends=[])])),
 ('B', Person(name='B', birthday=datetime.date(1970, 2, 1), friends=[]))]

In [6]:
db3.root.people['B'] = db3.Person('B', date(1970,1,1))

In [17]:
db3.root.people['B'].birthday = date(1970,2,1)

In [3]:
db3.create_people()

<root: people>

In [5]:
transaction.abort()

In [15]:
transaction.commit()

In [7]:
db3.Person('A', date(2000,1,1), [])

In [10]:
db3.root.people['A'].friends.append(db3.root.people['B'])

In [14]:
b = ('B', [])
a = ('A', [b])
{'A': a, 'B': b}

{'A': ('A', [('B', [])]), 'B': ('B', [])}